<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>分享红包明细</title>
    <!-- <link rel="stylesheet" href="css/bootstrap.min.css">   -->

    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="http://cdn.datatables.net/1.10.15/css/jquery.dataTables.css">
    <script src="https://cdn.bootcss.com/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.2.4/js/dataTables.buttons.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/2.5.0/jszip.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.2.4/js/buttons.html5.min.js "></script>
    <!--<script src="http://cdn.datatables.net/plug-ins/28e7751dbec/integration/bootstrap/3/dataTables.bootstrap.js"></script>-->
    <!--<script src="js/bootstrap.min.js"></script>-->
</head>
<body>

<table id="example" class="display" cellspacing="0" width="100%">
    <thead>
    <tr>
        <th>角色编号</th>
        <th>角色代码</th>

    </tr>
    </thead>

</table>

</body>

<script>
    $(document).ready(function () {
        $('#example').DataTable({
                "lengthMenu": [
                    [20, 50, 100, -1],
                    ['20条', '50条', '100条', 'ALL']
                ],
                dom: 'B<"clear">lfrtip',
                "buttons": [
                    {
                        'extend': 'csvHtml5',
                        'text': '导出csv',//定义导出csv按钮的文字
                        'exportOptions': {
//                            'modifier': {
//                                'page': 'current'
//                            }
                        }
                    }
                ],
                "processing": true,
                "serverSide": true,
                "searching": false, //禁用原生搜索
                "ordering": false,

//    "ajax": {
//        "url": "sendGoods_list",
//        "type": "POST"
//    },
                ajax: function (data, callback, settings) {
                    //封装请求参数
                    var param = {};
                    param.limit = data.length;//页面显示记录条数，在页面显示每页显示多少项的时候
                    param.start = data.start;//开始的记录序号
                    param.page = (data.start / data.length) + 1;//当前页码
//                    param.orderby = data.orderBys;
                    //console.log(param);
                    //ajax请求数据
                    $.ajax({
                        type: "post",
                        url: "./sendGoods_list",
                        cache: false,  //禁用缓存
                        data: param,  //传入组装的参数
                        dataType: "json",
                        success: function (result) {
                            //console.log(result);
                            //setTimeout仅为测试延迟效果
                            //setTimeout(function () {
                            //封装返回数据
                            var returnData = {};
                            returnData.draw = data.draw;//这里直接自行返回了draw计数器,应该由后台返回
                            returnData.recordsTotal = result.total;//返回数据全部记录
                            returnData.recordsFiltered = data.total;//后台不实现过滤功能，每次查询均视作全部结果
                            returnData.data = result.data;//返回的数据列表
                            //console.log(returnData);
                            //调用DataTables提供的callback方法，代表数据已封装完成并传回DataTables进行渲染
                            //此时的数据需确保正确无误，异常判断应在执行此回调前自行处理完毕
                            callback(returnData);
                            //}, 200);
                        }
                    });
                },
                "columns": [
                    {"data": "id"},
                    {"data": "dt"}
                ]
            }
        );
    });
</script>
</html>