<!DOCTYPE HTML>
<html>
<head>
    <title>BUI+bootstrap风格后台管理系统模板-www.daimajiayuan.com</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <link href="static/css/dpl-min.css" rel="stylesheet" type="text/css"/>
    <link href="static/css/bui-min.css" rel="stylesheet" type="text/css"/>
    <link href="static/css/main-min.css" rel="stylesheet" type="text/css"/>
    <script src="static/js/jquery-1.8.1.min.js"></script>
    <script src="static/js/bui.js"></script>
    <script type="text/javascript" src="static/js/config.js"></script>
    <script type="text/javascript" src="static/js/main.js"></script>
</head>
<body>

<div class="header">

    <div class="dl-title">
        <a href="http://www.builive.com" title="文档库地址" target="_blank"><!-- 仅仅为了提供文档的快速入口，项目中请删除链接 -->
            <span class="lp-title-port">BUI</span><span class="dl-title-text">前端框架</span>
        </a>
    </div>

    <div class="dl-log">欢迎您，<span class="dl-log-user">**.**@alibaba-inc.com</span><a href="###" title="退出系统"
                                                                                     class="dl-log-quit">[退出]</a><a
            href="http://http://www.builive.com/" title="文档库" class="dl-log-quit">文档库</a>
    </div>
</div>
<div class="content">
    <div class="dl-main-nav">
        <div class="dl-inform">
            <div class="dl-inform-title">贴心小秘书<s class="dl-inform-icon dl-up"></s></div>
        </div>
        <ul id="J_Nav" class="nav-list ks-clear">
            <li class="nav-item dl-selected">
                <div class="nav-item-inner ">首页</div>
            </li>
            <li class="nav-item">
                <div class="nav-item-inner ">表单页</div>
            </li>
            <li class="nav-item">
                <div class="nav-item-inner ">搜索页</div>
            </li>
            <li class="nav-item">
                <div class="nav-item-inner ">详情页</div>
            </li>
        </ul>
    </div>
    <ul id="J_NavContent" class="dl-tab-conten">

    </ul>
</div>
<!--<script type="text/javascript" src="static/js/jquery-1.8.1.min.js"></script>-->
<!--<script type="text/javascript" src="static/js/bui.js"></script>-->


<script>
    BUI.use('common/main', function () {
// jiazaicaidan
        $.post('/echarts/authMenu', function (result) {
            var config = result;


            new PageUtil.MainPage({
                modulesConfig: config

            });
        });
    });
</script>

<!--<script>-->
<!--BUI.use('common/main', function () {-->
<!--var config = [-->
<!--{-->
<!--id: '4',-->
<!--menu: [-->
<!--{-->
<!--items: [-->
<!--{-->
<!--href: "http://www.jquery.com/",-->
<!--id: '9',-->
<!--text: "jquery"-->
<!--}-->
<!--],-->
<!--text: "\u9996\u98751"-->
<!--}-->
<!--],-->
<!--},-->
<!--{-->

<!--id: '5',-->

<!--menu: [-->
<!--{-->

<!--items: [-->
<!--{-->
<!--href: "echarts/pie",-->
<!--id: '2',-->
<!--text: "\u997c\u56fe"-->
<!--}-->
<!--],-->

<!--text: "2222echart"-->
<!--}-->
<!--],-->

<!--},-->
<!--{-->

<!--id: '6',-->

<!--menu: [-->
<!--{-->

<!--items: [-->
<!--{-->
<!--href: "datatable/buiform",-->
<!--id: '7',-->

<!--text: "DT-demo1"-->
<!--}-->
<!--],-->

<!--text: "datatables"-->
<!--}-->
<!--],-->

<!--}-->
<!--];-->
<!--new PageUtil.MainPage({-->
<!--modulesConfig: config-->
<!--});-->
<!--});-->
<!--</script>-->
</body>
</html>
